---
---
{% include header.html title="PROJECT一覧｜こんてにゅ～" description="こんてにゅ～が取り組むプロジェクトの一覧です。CoRE 2025、CoRE 2026、その他のプロジェクトを紹介しています。" %}
<center><font size="6"><b>PROJECT一覧</b></font></center>
<hr size="2">
<font size="3">
<table border="1" cellpadding="5" cellspacing="0">
<tr bgcolor="#CCCCFF"><td><b>プロジェクト</b></td><td><b>大会</b></td><td><b>年度</b></td><td><b>概要</b></td></tr>
<tr><td><a href="/projects/core2025/">CoRE 2025</a></td><td>The Championship of Robotics Engineers 2025</td><td>2025</td><td>確実に動く、を最優先にした初出場機</td></tr>
<tr><td><a href="/projects/core2026/">CoRE 2026</a></td><td>The Championship of Robotics Engineers 2026</td><td>2026</td><td>自律で動き、自動で狙うを目指した2号機</td></tr>
<tr><td><a href="/projects/others/">その他プロジェクト</a></td><td>─</td><td>─</td><td>勉強会・展示会などの活動</td></tr>
</table>
<br>
<table border="1" cellpadding="5" cellspacing="0" width="90%">
<tr bgcolor="#CCCCFF"><td><font size="3"><b>GitHub</b></font></td></tr>
<tr><td><font size="2">チームのソースコードとCADデータを公開しています。<br>→ <a href="https://github.com/team-continue">https://github.com/team-continue</a></font></td></tr>
</table>
</font>
{% include footer.html %}
</font>
</td>
</tr>
</table>
</body>
</html>
