<td width="280" valign="top">
<font size="4" face="ＭＳ Ｐゴシック">
<table border="0" cellpadding="2" cellspacing="0" width="260">
<tr><td align="center"><img src="/imgs/banner.png" width="140" height="28" alt="こんてにゅ～ チーム写真"></td></tr>
</table>
<br>
<font size="6"><b>めにゅー</b></font><br>
<hr size="1">
<font size="5">
<a href="/">HOME</a><br>
<hr size="1">
<a href="/projects/">PROJECT</a><br>
<font size="3">　<a href="/projects/core2025/">CoRE 2025</a><br>
　<a href="/projects/core2026/">CoRE 2026</a><br>
　<a href="/projects/others/">その他プロジェクト</a></font><br>
<hr size="1">
<a href="/members/">MEMBERS</a><br>
<hr size="1">
<a href="/links/">LINKS</a><br>
<hr size="1">
<a href="/blog/">BLOG</a><br>
<hr size="1">
<a href="/news/">NEWS</a><br>
<hr size="1">
<a href="/about/">ABOUT US</a><br>
</font>
<hr size="1">
<br>
<font size="1">
あなたは<br>
<b>000123</b>人目の<br>
訪問者です。<br>
<br>
Since 2025.4.1<br>
Last Update 2026.7.6
</font>
</font>
</td>
