---
---
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>SNS・LINK｜チームこんてにゅ～</title>
<meta name="description" content="チームこんてにゅ～のSNSアカウントと関連リンクの一覧ページです。">
<link rel="stylesheet" href="/styles.css">
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#0000EE" vlink="#551A8B">
<table border="0" cellpadding="8" cellspacing="0" width="100%">
<tr>
{% include sidebar.html %}
<td valign="top">
<font face="ＭＳ Ｐゴシック">

<center><font size="6"><b>SNS・LINK</b></font></center>
<hr size="2">
<font size="3">チームこんてにゅ～のSNSと関連リンクです。相互リンク募集中！</font><br><br>
<table border="1" cellpadding="5" cellspacing="0" width="90%">
<tr bgcolor="#CCCCFF"><td><font size="3"><b>GitHub</b></font></td></tr>
<tr><td><font size="2">チームのソースコードとCADデータを公開しています。<br>→ <a href="https://github.com/team-continue">https://github.com/team-continue</a></font></td></tr>
</table><br>
<table border="1" cellpadding="5" cellspacing="0" width="90%">
<tr bgcolor="#CCCCFF"><td><font size="3"><b>X（旧Twitter）</b></font></td></tr>
<tr><td><font size="2">活動のようすを不定期につぶやいています。<br>→ <a href="https://x.com/team_continue_">https://x.com/team_continue_</a></font></td></tr>
</table><br>
<table border="1" cellpadding="5" cellspacing="0" width="90%">
<tr bgcolor="#CCCCFF"><td><font size="3"><b>連絡先</b></font></td></tr>
<tr><td><font size="2">チームへの連絡はX（旧Twitter）のDMまで。<br>→ <a href="https://x.com/team_continue_">https://x.com/team_continue_</a></font></td></tr>
</table><br>
<table border="1" cellpadding="5" cellspacing="0" width="90%">
<tr bgcolor="#CCCCFF"><td><font size="3"><b>CoRE 大会公式ページ</b></font></td></tr>
<tr><td><font size="2">私たちが出場している大会「The Championship of Robotics Engineers」の公式サイトです。<br>→ <a href="https://core.scramble-robot.org/">https://core.scramble-robot.org/</a></font></td></tr>
</table><br>

{% include footer.html %}
</font>
</td>
</tr>
</table>
</body>
</html>
