---
---
{% include header.html title="LINKS｜こんてにゅ～" description="こんてにゅ～のSNSアカウントと関連リンクの一覧ページです。" %}
<center><font size="6"><b>LINKS</b></font></center>
<hr size="2">
<font size="3">こんてにゅ～のSNSと関連リンクです。相互リンク募集中！</font><br><br>

<table border="1" cellpadding="5" cellspacing="0" width="90%">
<tr bgcolor="#CCCCFF"><td><font size="3"><b>関連リンク</b></font></td></tr>
<tr><td><font size="2">
    私たちが出場している大会「The Championship of Robotics Engineers」の公式サイトです。<br>→ <a href="https://core.scramble-robot.org/">https://core.scramble-robot.org/</a><br>
    <br>
    <a href="https://official-robocon.com/">NHKロボコン</a><br>
    <a href="https://makezine.jp/event/mft2026/">Maker Faire Tokyo 2026</a><br>
</font></td></tr>
</table><br>

{% include footer.html %}
</font>
</td>
</tr>
</table>
</body>
</html>
