---
---
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>CoRE 2026｜チームこんてにゅ～</title>
<meta name="description" content="チームこんてにゅ～のCoRE 2026プロジェクト紹介ページです。自律で動き、自動で狙う">
<link rel="stylesheet" href="/styles.css">
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#0000EE" vlink="#551A8B">
<table border="0" cellpadding="8" cellspacing="0" width="100%">
<tr>
{% include sidebar.html %}
<td valign="top">
<font face="ＭＳ Ｐゴシック">

<center><font size="6"><b>CoRE 2026</b></font></center>
<hr size="2">
<font size="3">準備中です。近日公開予定ですので、しばらくお待ちください。</font>
{% include footer.html %}
</font>
</td>
</tr>
</table>
</body>
</html>
