---
---
{% include header.html title="CoRE 2025｜チームこんてにゅ～" description="チームこんてにゅ～のCoRE 2025プロジェクト紹介ページです。確実に動く、を最優先にした初出場機" %}
<center><font size="6"><b>CoRE 2025</b></font></center>
<hr size="2">
<font size="4" color="#000080"><b>■概要</b></font><hr size="1">
<font size="3">
CoRE2025は、チームこんてにゅ～が開発したロボコン機体のプロジェクトです。<br><br>
<b>コンセプト</b><br>
・楽しくロボコンする ─ タスクや仕様決めをさぼらず、みんなで開発できるようにする<br>
・独自性を発揮する機体 ─ 会場を驚かせる革新的な設計と、高い再現性・確実な動作<br><br>
<b>技術構成</b><br>
アーキテクチャ、機構（発射機構・足回り系統）、回路（制御基板・モータドライバ）、ソフトウェア（画像処理・操縦システム・ROS2連携）の4カテゴリで開発データを公開しています。
</font>
<br><br>
<font size="4" color="#000080"><b>■Wiki</b></font><hr size="1">
<font size="3">詳しい開発データはWikiで公開しています。<br>
→ <a href="https://github.com/team-continue/CoRE2025_Wiki/wiki">https://github.com/team-continue/CoRE2025_Wiki/wiki</a></font>
{% include footer.html %}
</font>
</td>
</tr>
</table>
</body>
</html>
