---
---
{% include header.html title="ABOUT US｜チームこんてにゅ～" description="チームこんてにゅ～のチーム紹介と連絡先の案内ページです。" %}
<center><font size="6"><b>ABOUT US</b></font></center>
<hr size="2">
<font size="3">チームこんてにゅ～について、また連絡先のご案内です。</font><br><br>
<table border="1" cellpadding="5" cellspacing="0" width="90%">
<tr bgcolor="#CCCCFF"><td><font size="3"><b>チーム紹介</b></font></td></tr>
<tr><td><font size="2">チームこんてにゅ～は、次世代ロボットコンテスト CoRE（The Championship of Robotics Engineers）への出場を目指して活動している社会人ロボコンチームです。機構・回路・ソフトウェアの各班に分かれて、自律移動ロボットの設計・製作を行っています。</font></td></tr>
</table><br>
<table border="1" cellpadding="5" cellspacing="0" width="90%">
<tr bgcolor="#CCCCFF"><td><font size="3"><b>連絡先</b></font></td></tr>
<tr><td><font size="2">チームへの連絡はX（旧Twitter）のDMまで。<br>→ <a href="https://x.com/robot_continue">https://x.com/robot_continue</a></font></td></tr>
</table><br>

{% include footer.html %}
</font>
</td>
</tr>
</table>
</body>
</html>
