---
---
{% include header.html title="ABOUT US｜こんてにゅ～" description="こんてにゅ～のチーム紹介と連絡先の案内ページです。" %}
<center><font size="6"><b>ABOUT US</b></font></center>
<hr size="2">
<font size="3">こんてにゅ～について</font><br><br>

<font size="3"><b>チーム紹介</b></font><br>
<font size="2">
    こんてにゅ～はNHK学生ロボコンを経験したロボコニストが「ロボコンを続けたい」という思いから結成したものづくり団体です。
    主に次世代ロボットコンテスト CoRE（The Championship of Robotics Engineers）への出場を目指して活動しています。
    大学時代にロボコンへ真剣に取り組んできた経験を通じて、技術力やチームワーク、最後までやり抜く姿勢を培ってきました。
    それぞれが仕事や研究に追われる中、機構・回路・ソフトウェアの各班に分かれて、ロボットの設計・製作を行っています。
</font><br><br>


<hr size="1"><br>

<font size="3"><b>連絡先</b></font><br>
<font size="2">チームへの連絡はX（旧Twitter）のDMまで。<br>→ <a href="https://x.com/robot_continue">https://x.com/robot_continue</a></font><br><br>

{% include footer.html %}
</font>
</td>
</tr>
</table>
</body>
</html>
