---
---
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>MEMBERS｜チームこんてにゅ～</title>
<meta name="description" content="チームこんてにゅ～のメンバー紹介ページです。各メンバーの役割、得意分野、担当プロジェクトを掲載しています。">
<link rel="stylesheet" href="/styles.css">
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#0000EE" vlink="#551A8B">
<table border="0" cellpadding="8" cellspacing="0" width="100%">
<tr>
{% include sidebar.html %}
<td valign="top">
<font face="ＭＳ Ｐゴシック">

<center><font size="6"><b>メンバー紹介</b></font></center>
<hr size="2">
<font size="3">チームこんてにゅ～のメンバーです。よろしくおねがいします。</font><br><br>
{% for member in site.data.members %}
<table border="1" cellpadding="5" cellspacing="0" width="90%">
<tr bgcolor="#CCCCFF"><td colspan="2"><font size="4"><b>{{ member.name }}</b></font>　<font size="2">{{ member.role }}</font></td></tr>
<tr>
<td width="110" align="center" bgcolor="#CCCCCC" height="120"><font size="1">写真<br>準備中</font></td>
<td valign="top"><font size="2">
{% if member.comment and member.comment != "" %}{{ member.comment }}<br>
{% endif %}所属班：{% for tag in member.team_tags %}<font size="1" color="#008000">[{{ tag }}]</font>{% unless forloop.last %}　{% endunless %}{% endfor %}<br>
担当プロジェクト：{% for project in member.projects %}{{ project }}{% unless forloop.last %}　{% endunless %}{% endfor %}<br>
リンク：{% for link in member.links %}<a href="{{ link.url }}">{{ link.label }}</a>{% unless forloop.last %}｜{% endunless %}{% endfor %}<br>
書いた記事：<br>{% if member.articles and member.articles.size > 0 %}{% for article in member.articles %}・<a href="{{ article.url }}">{{ article.title }}</a><br>{% endfor %}{% else %}（まだありません）{% endif %}
</font></td>
</tr>
</table><br>
{% endfor %}

{% include footer.html %}
</font>
</td>
</tr>
</table>
</body>
</html>
